= simple_form_for(@question) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :qtype
    = f.association :survey
    = f.input :sort
    = f.input :active_status

  %h3 Choices
  #choices
    = f.simple_fields_for :choices do |choice|
      = render 'choice_fields', f: choice
    .links
      = link_to_add_association 'add choice', f, :choices
     
  .form-actions
    = f.button :submit
    &nbsp &nbsp | &nbsp &nbsp
    = link_to t('actions.back'), questions_path
  %hr