%h1= QuestionList.model_name.human.singularize

%dl.dl-horizontal
  %dt= QuestionList.human_attribute_name :name
  %dd= @question_list.name
  %dt= QuestionList.human_attribute_name :sort
  %dd= @question_list.sort
  %dt= QuestionList.human_attribute_name :active_status
  %dd= @question_list.active_status

= link_to t('actions.edit'), edit_question_list_path(@question_list), class: 'btn btn-primary'
&nbsp &nbsp &nbsp|&nbsp &nbsp &nbsp
= link_to t('actions.back'), question_lists_path
%hr