= simple_form_for(@response) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :survey
    = f.association :user
    = f.input :ip

  %h4 Answers
  #answers
    = f.simple_fields_for :answers do |answer|
      = render 'answer_fields', f: answer
    .links
      = link_to_add_association 'add answer', f, :answers
      
  .form-actions
    = f.button :submit
    &nbsp &nbsp | &nbsp &nbsp
    = link_to t('actions.back'), responses_path
  %hr